src/main/java/META-INF/wsdl/localhost_8080/WebSistemAkademikSederhana/AcademicYearWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.lydia.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.lydia.com/" name="AcademicYearWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.lydia.com/" schemaLocation="http://localhost:8080/WebSistemAkademikSederhana/AcademicYearWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="addAcademicYear">
<part name="parameters" element="tns:addAcademicYear"/>
</message>
<message name="addAcademicYearResponse">
<part name="parameters" element="tns:addAcademicYearResponse"/>
</message>
<message name="showAllAcademicYear">
<part name="parameters" element="tns:showAllAcademicYear"/>
</message>
<message name="showAllAcademicYearResponse">
<part name="parameters" element="tns:showAllAcademicYearResponse"/>
</message>
<message name="updateAcademicYear">
<part name="parameters" element="tns:updateAcademicYear"/>
</message>
<message name="updateAcademicYearResponse">
<part name="parameters" element="tns:updateAcademicYearResponse"/>
</message>
<message name="deleteAcademicYear">
<part name="parameters" element="tns:deleteAcademicYear"/>
</message>
<message name="deleteAcademicYearResponse">
<part name="parameters" element="tns:deleteAcademicYearResponse"/>
</message>
<portType name="AcademicYearWebService">
<operation name="addAcademicYear">
<input wsam:Action="http://service.lydia.com/AcademicYearWebService/addAcademicYearRequest" message="tns:addAcademicYear"/>
<output wsam:Action="http://service.lydia.com/AcademicYearWebService/addAcademicYearResponse" message="tns:addAcademicYearResponse"/>
</operation>
<operation name="showAllAcademicYear">
<input wsam:Action="http://service.lydia.com/AcademicYearWebService/showAllAcademicYearRequest" message="tns:showAllAcademicYear"/>
<output wsam:Action="http://service.lydia.com/AcademicYearWebService/showAllAcademicYearResponse" message="tns:showAllAcademicYearResponse"/>
</operation>
<operation name="updateAcademicYear">
<input wsam:Action="http://service.lydia.com/AcademicYearWebService/updateAcademicYearRequest" message="tns:updateAcademicYear"/>
<output wsam:Action="http://service.lydia.com/AcademicYearWebService/updateAcademicYearResponse" message="tns:updateAcademicYearResponse"/>
</operation>
<operation name="deleteAcademicYear">
<input wsam:Action="http://service.lydia.com/AcademicYearWebService/deleteAcademicYearRequest" message="tns:deleteAcademicYear"/>
<output wsam:Action="http://service.lydia.com/AcademicYearWebService/deleteAcademicYearResponse" message="tns:deleteAcademicYearResponse"/>
</operation>
</portType>
<binding name="AcademicYearWebServicePortBinding" type="tns:AcademicYearWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addAcademicYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAllAcademicYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAcademicYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAcademicYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AcademicYearWebService">
<port name="AcademicYearWebServicePort" binding="tns:AcademicYearWebServicePortBinding">
<soap:address location="http://localhost:8080/WebSistemAkademikSederhana/AcademicYearWebService"/>
</port>
</service>
</definitions>